* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
}

@media screen and (max-width: 600px) {
    .background {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .container {
        width: 100%;
        height: 100%;
    }
}